<br>
<br>
<br>
<br>
<h1>Moments</h1>

<ul> <!-- reverse the list of moments so the latest is at the top of the list -->
  <li ng-repeat="moment in moments.all | reverse">
    <div>
      <h4>{{ moment.emotion }}</h4>
      <p>{{ moment.description }}</p>
    
<!--                   insert each saved moment's longitude and latitude to be presented with google map
 -->        <static-gmap
            size="300x300"
            sensor="false"
            zoom="14"
            markers="{ coords: [moment.latitude, moment.longitude ] }">
        </static-gmap>

        <br>
        <br>
<!--                             allow the user to change details
 -->	 <textarea class="form-control" id="details" name="details" ng-model="moment.description"></textarea>

	     <button ng-click="moments.update(moment)">Change Description</button>
	      
        <br>
	        <button class='delete' ng-click="moments.delete(moment)">Delete</button>
    </div>
  </li>
</ul>

