<br>
  <br>
  <br>
<h1>Moments</h1>

<ul>
  <li ng-repeat="moment in moments.all">
    <div>
      <h4>{{ moment.emotion }}</h4>
      <p>{{ moment.description }}</p>
      <div>{{ moment.longitude }}</div>
      <div>{{ moment.latitude }}</div>

<static-gmap
    size="640x200"
    sensor="false"
    zoom="14"
    markers="{ color: 'red', label: 'X', coords: [moment.longitude, moment.latitude] }">
</static-gmap>




	      <textarea class="form-control" id="details" name="details" ng-model="moment.description"></textarea>

	    <button  ng-click="moments.update(moment)">Change Description</button>
	      
      <br>
	        <button class='delete' ng-click="moments.delete(moment)">Delete</button>
    </div>
  </li>
</ul>

