<section ng-show="users.checkLoggedIn()">
  <div>
  <br>
  <br>
  <br>
        <h3>{{ users.user.local.username | uppercase }}</h3>
        <p>{{ users.user.local.email }}</p>   
  </div>
  <form id="editEmail" ng-submit="userUpdate()" novalidate>

	      <input id='updateEmailField'type="text" class="form-control" placeholder="Email" name="email" value="">
	    <br>
	    <input type="submit" value="Change Email">
		

	    <button id="deleteUser" ng-submit="deleteUser()">Delete Account</button>
   </form>
</section>
