
body, h1, p{
	text-align: center;
}

li{
	list-style-type: none;
}

nav{
	background-color: #28AADC;
	padding: 20px;

}

a{
	color: #104E8B;
	margin: 20px;
	text-decoration: none;

}

a:hover{
	color: white;
	text-decoration: none;

}

.delete:hover{
	background-color: red;
}

#map{
	height: 300px;
	width: 300px;
}

button{
	background-color: #70E1F5;
	border-color: #254E70;
	margin: 10px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

input[type=radio] {
   display:none;
}

input[type="radio"] + label {
	display: inline-block;
	border: 0;
	height: 100px;
	width: 100px;
	margin: 10px;

	color: #70E1F5;
	background-color: #70E1F5;
	border-radius: 50%;
}

input[type="radio"]:checked + label{
	
	color: #ffD194;
	background-color: #ffD194;

}

input[type="radio"] + label:hover{
	
	color: yellow;
	background-color: yellow;

}

/*.radiolabel{
	
	border: ;
	border-color: red;
}*/

span{
	display: inline-block;
	width: 6em;
	height: 6em;
}

textarea{
	height: 300px;
	width: 300px;
}