@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lobster);

html{
	height: 100%;

}

#title{
	/*vertical-align: middle;*/

	font-family: 'Lobster', cursive;
	/*position: absolute;
	top: 20px;*/



}

#triangle1{
	width: 0;
	height: 0;
	border-top: 200px solid white;
	border-right: 200px solid transparent;
/*	position: absolute;*/

}

/*#triangle4{
	width: 0;
	height: 0;
	border-top: 200px solid white;
	border-left: 200px solid transparent;*/
	/*position: absolute;
	left: 75%;
	bottom: 57%;
}
*/
#triangle2{
	width: 0;
	height: 0;
	border-bottom: 200px solid white;
	border-left: 200px solid transparent;
	float: right;
	/*position: absolute;
	left: 75%;
	top: 50%;*/
}

/*#triangle3{
	width: 0;
	height: 0;
	border-bottom: 200px solid white;
	border-right: 200px solid transparent;
}*/

h1{
	font-family: 'Lobster', cursive;
	color: white;
	font-style: bold;
	font-size: 90px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.5);
}

p, label{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

body{
	text-align: center;
	background: linear-gradient(#4B6CB7, #D4D3DD) fixed;
	background-repeat: no-repeat;



}

.container {
	height: 100%;
	width: 100%;
}


li{
	list-style-type: none;
}
/*#28AADC*/
#navStyle{
	background-color: #556270;
	padding: 20px;
	border: none;

}
/*color: #104E8B;*/
a{
	color: white;
	margin: 20px;
	text-decoration: none;

}

a:hover{
	color: white;
	

}

a:visited{
	color: white;
	text-decoration: none;
	

}

.delete:hover{
	background-color: #FF1654;
}

#map{
	height: 300px;
	width: 300px;
	border: 2px solid #ddd;
  border-radius: 3px;
}

/*#details{
	width: 300px;
	text-align: center;
}*/

/*input[type="text"]*/

button{
	background-color: #70E1F5;
	
	border: none;
	margin: 10px;
	border-radius: 50%;
	height: 100px;
	width: 100px;
	position: relative;
	box-shadow: 0px 5px 0px black;

}

button:active{
	position: relative;
	top: 7px;
	box-shadow: 0px 2px 0px black;
}

input[type=radio] {
   display:none;
}

input[type="radio"] + label {
	display: inline-block;
	border: 0;
	height: 100px;
	width: 100px;
	margin: 10px;
	margin-right: 0;

	/*color: #70E1F5;*/
	background-color: #bced91;
	border-radius: 50%;
	position: relative;
	box-shadow: 0px 5px 0px black;
}

input[type="radio"]:checked + label{
	
	/*color: #ffD194;*/
	background-color: #ff9955;
	position: relative;
	top: 7px;
	box-shadow: 0px 2px 0px black;

}

input[type="radio"] + label:hover{
	
	
	background-color: #ff7b29;

}



/*.radiolabel{
	
	border: ;
	border-color: red;
}*/

span{
	display: inline-block;
	width: 6em;
	height: 6em;
}

textarea{
	height: 300px;
	width: 300px;
}